.sw?
.*.sw?
*.a
*.exe
*.exp
*.lib
*.manifest
*.o
/README.html
/iniphile
/iniphile.exe
/iniphile.pc
/iniphile.spec
/initest-shared
/initest-shared.exe
/initest-static
/initest-static.exe
/libiniphile.so
/libiniphile.so.[0-9]
/libiniphile-[0-9].so
/stage
/tags
/version.hpp
/version-hpp
/version-hpp.exe
